openapi: "3.0.0"

info:
  version: "1.0"
  title: Sunset and sunrise times API
  description: |-
    API that provides sunset and sunrise times for a given latitude and longitude.
  
servers:
  - url: https://api.sunrise-sunset.org
    description: Production server

tags:
  - name: Sunset and sunrise

paths:
  /json:
    get:
      summary: "Get sunset and sunrise times"
      description: |-
        It provides sunset and sunrise times for a given latitude and longitude.
      operationId: "getSunsetSunriseTimes"
      tags: 
        - Sunset and sunrise
      parameters:
        - name: lat
          in: query
          description: |- 
            Latitude in decimal degrees.
          required: true
          schema:
            type: number
            format: float
          example: 36.7201600
  
        - name: lng
          in: query
          description: |-
            Longitude in decimal degrees.
          required: true
          schema:
            type: number
            format: float
          example: 4.4203400
  
        - name: date
          in: query
          description: |-
            Date in YYYY-MM-DD format. Also accepts 
            [other date formats](https://www.php.net/manual/en/datetime.formats.php#datetime.formats.date) 
            and even [relative date formats](https://www.php.net/manual/en/datetime.formats.php#datetime.formats.relative). 
            If not present, date defaults to current date.
          required: false
          schema:
            type: string
          example: today
  
        - name: callback
          in: query
          description: |-
            Callback function name for JSONP response.
          required: false
          schema:
            type: string
  
        - name: formatted
          in: query
          description: |
            Time values in response will be expressed following ISO 8601 and day_length will be expressed in seconds.
          required: false
          schema:
            type: integer
            enum: [0, 1]
            default: 1
  
        - name: tzid
          in: query
          description: |-
            A timezone identifier, like for example: _UTC, Africa/Lagos_, _Asia/Hong_Kong_, or _Europe/Lisbon_. 
            The list of valid identifiers is available in this [List of Supported Timezones](https://www.php.net/manual/en/timezones.php).
            If provided, the times in the response will be referenced to the given Time Zone.
          required: false
          schema:
            type: string
      responses: 
        '200':
          description: |-
            The API response include the times for the sun events in the given location. Data is formatted using JSON.

            **Note that unless you provide a tzid, all times are in [UTC](https://en.wikipedia.org/wiki/Coordinated_Universal_Time) 
            and summer time adjustments are not included in the returned data.**
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SunsetSunriseResponse"

components:
  schemas:
    SunsetSunriseResponse:
      type: object
      properties:
        results:
          type: object
          properties:
            sunrise:
              type: string
              description: |-
                Time of the sunrise.
              example: "7:27:02 AM"
            sunset:
              type: string
              description: |-
                Time of the sunset.
              example: "5:05:55 PM"
            solar_noon:
              type: string
              description: |-
                The time when the Sun is at its highest point in the sky.
              example: "12:16:28 PM"
            day_length:
              type: string
              description: |-
                The duration of time the Sun is above the horizon.
              example: "9:38:53"
            civil_twilight_begin:
              type: string
              description: |-
                The beginning of period when the Sun is just below the horizon.
              example: "6:58:14 AM"
            civil_twilight_end:
              type: string
              description: |-
                The end of period when the Sun is just below the horizon.
              example: "5:34:43 PM"
            nautical_twilight_begin:
              type: string
              description: |-
                The beginning of the period when the Sun is between 6 and 12 degrees below the horizon. 
              example: "6:25:47 AM"
            nautical_twilight_end:
              type: string
              description: |-
                The end of the period when the Sun is between 6 and 12 degrees below the horizon. 
              example: "6:07:10 PM"
            astronomical_twilight_begin:
              type: string
              description: |-
                The beginning of the period when the Sun is between 12 and 18 degrees below the horizon. 
              example: "5:54:14 AM"
            astronomical_twilight_end:
              type: string
              description: |-
                The end of the period when the Sun is between 12 and 18 degrees below the horizon. 
              example: "6:38:43 PM"
        tzid:
          type: string
          example: "UTC"
        status:
          type:
            string
          enum: [
            "OK",
            "INVALID_REQUEST",
            "INVALID_DATE",
            "UNKNOWN_ERROR",
            "INVALID_TZID"  
          ]
          description: |-
            Status of the request. Five possible values:
            - "OK": indicates that no errors occurred;
            - "INVALID_REQUEST": indicates that either lat or lng parameters are missing or invalid;
            - "INVALID_DATE": indicates that date parameter is missing or invalid;
            - "UNKNOWN_ERROR": indicates that the request could not be processed due to a server error. The request may succeed if you try again.
            - "INVALID_TZID": indicates that tzid parameter value provided is invalid, response is valid but times are in UTC.
          example: "OK"

externalDocs:
  description: |-
    Find original doc here.
  url: "https://sunrise-sunset.org/api"
      
          
